GRIST_API_KEY=      # Le token secret pour se connecter à l'API Grist
GRIST_API_URL=      # URL de l'API Grist (https://<host>/api)
GRIST_DOCUMENT_ID=  # L'identifiant du document de veille

OSUNY_API_TOKEN=    # Le token secret d'une app osuny
OSUNY_API_HOST=     # Domaine de l'API osuny (sans l'https)
OSUNY_WEBSITE_ID=   # L'identifiant du site

OSUNY_ORGANIZATION_TAXONOMY_DEPARTMENTS_ID=   # ID de la taxomomie "Départements" dans les University::Organization::Category
