GRIST_API_KEY=      # Le token secret pour se connecter à l'API Grist
GRIST_API_URL=      # URL de l'API Grist (https://<host>/api)
GRIST_DOCUMENT_ID=  # L'identifiant du document de veille

OSUNY_API_TOKEN=    # Le token secret d'une app osuny
OSUNY_API_HOST=     # Domaine de l'API osuny (sans l'https)
OSUNY_WEBSITE_ID=   # L'identifiant du site

OSUNY_ORGANIZATION_DEPARTEMENTS_ID=   # ID de la taxomomie "Départements" dans les University::Organization::Category
OSUNY_ORGANIZATION_TYPES_EQUIPES_ARTISTIQUES_ID=
OSUNY_ORGANIZATION_TYPES_LIEUX_ID=
OSUNY_ORGANIZATION_TYPES_OPERATEURS_ID=

OSUNY_PROJECT_DISCIPLINES_ID= # ID de la taxomomie "Disciplines" dans les Communication::Website::Portfolio::Category
OSUNY_PROJECT_THEMATIQUES_ID= # ID de la taxomomie "Thématiques" dans les Communication::Website::Portfolio::Category
